*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(184, 184, 184);
    overflow-x: none;
}


.Titulo{
    display: flex;
    text-align: center;
    justify-content: center;
}


.container-fluid{
    background-color: rgb(184, 184, 184);
}

.navbar, .navbar-expand-lg, .bg-light{
    background-color:  rgb(184, 184, 184);
    padding: 0;
    margin: 0;
}

.card{
    gap: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow-x: none;
}


.img{
    width: 100vw;
    height: 50vh;
    object-fit:cover;
}

#carta{
    gap: 5px;
    display: flex;
    overflow:auto;
    margin: 0;
    padding: 0;
    overflow-x: none;
}

.row{
width: 98%;
}